<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Green Bean</title>
        <meta name="keywords" content="Green bean, arena booking, arena information, locating arena">
        <meta name="description" content="Venu description  ">
        <meta name="Author" content="Prabhjot Dhaliwal">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="assets/img/favicon.ico" rel="shortcut icon">
        <link href="../../src/public/stylesheets/pageStyle.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monda">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="options">
            <select>
                <option>Top Rated</option>
                <option>Most Popular</option>
                <option>Price Low to High</option>
            </select>
            <select>
                <option>Basketball</option>
                <option>Hockey</option>
                <option>Soccer</option>
                <option>Tennis</option>
            </select>
            <select>
                <option>Private</option>
                <option>Public</option>
            </select>
            <label for="tsearch"></label>
            <input type="text" id="tsearch" name="tsearch" placeholder="Search">
            <button>Search</button>
        </div>
        <div class="results">
            <h1>Results: 50 Locations</h1>
            <div class="npage">
            <button>Previous</button>
            <button>Next</button>
            </div>
        </div>

        <div class="grid">
            <div class="arena">
                <div class="image-plcehodler">
                <a href="venue.html">
                <img src="../../src/public/images/temp.jpg" alt="placehold">
                </a>
                </div>
                <p><em>Name of Arena/park </em></p>
                <p>68/hr</p>
                <p>Rating: 4.5/5</p>
            </div>
            <div class="arena">
                <div class="image-plcehodler">
                <a href="venue.html">
                <img src="../../src/public/images/temp.jpg" alt="placehold">
                </a>
                </div>
                <p><em>Name of Arena/park </em></p>
                <p>68/hr</p>
                <p>Rating: 4.5/5</p>
            </div>
            <div class="arena">
                <div class="image-plcehodler">
                <a href="venue.html">
                <img src="../../src/public/images/temp.jpg" alt="placehold">
                </a>
                </div>
                <p><em>Name of Arena/park </em></p>
                <p>68/hr</p>
                <p>Rating: 4.5/5</p>
            </div>
            <div class="arena">
                <div class="image-plcehodler">
                <a href="venue.html">
                <img src="../../src/public/images/temp.jpg" alt="placehold">
                </a>
                </div>
                <p><em>Name of Arena/park </em></p>
                <p>68/hr</p>
                <p>Rating: 4.5/5</p>
            </div>
            <div class="arena">
                <div class="image-plcehodler">
                <a href="venue.html">
                <img src="../../src/public/images/temp.jpg" alt="placehold">
                </a>
                </div>
                <p><em>Name of Arena/park </em></p>
                <p>68/hr</p>
                <p>Rating: 4.5/5</p>
            </div>
            <div class="arena">
                <div class="image-plcehodler">
                <a href="venue.html">
                <img src="../../src/public/images/temp.jpg" alt="placehold">
                </a>  
                </div>
                <p><em>Name of Arena/park </em></p>
                <p>68/hr</p>
                <p>Rating: 4.5/5</p>
            </div>
        </div>
    </body>
</html>