<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Green Bean</title>
        <meta name="keywords" content="Green bean, arena booking, arena information, locating arena">
        <meta name="description" content="Venu description  ">
        <meta name="Author" content="Mark Ngo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="assets/img/favicon.ico" rel="shortcut icon">
        <link href="../../src/public/stylesheets/webStyle.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monda">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="back">
            <a href="pages.html" class="button">Back</a>
        </div>

        <div class="infoContainer">
            <div class="venueImage">
                <img src="../../src/public/images/grace.jpg" alt="main-venue-image" width="500" height="300">
            </div>

            <div class="information">
                <h1>Name of the Park</h1>
                <h5>4541 StreetName St.</h5>
                <p>Description:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus modi aspernatur 
                    ullam deserunt nesciunt est a sunt nobis assumenda iure error facere voluptas necessitatibus 
                    nihil itaque, saepe aut incidunt minima!</p>
                <div class="back">
                    <a href="rental.html" class="button">Rent</a>
                </div>
            </div>
        </div>
    </body>

</html>